{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}

<form  method="post">
    <label for="product">Product</label>
    <input type="text" name="product" placeholder="enter product">
     <label for="price">Price per piece</label>
    <input type="price" name="price" placeholder="enter price">
    <label for="stock">Instock</label>
    <input type="checkbox" name="stock">
    <label for="quantity">Quantiy</label>
    <input type="quantity" name="quantity" placeholder="enter quantity">
    <button type="submit">Add</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>In stock</th>
        </tr>
    </thead>
    <tbody>
    {% for product in products %}
        <tr>
            <td>{{ product.product }}</td>
            <td>{{ product.quantity }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock}}</td>

            <td>
                <a href="{{ url_for('edit_or_delete', product_id=product.id) }}">Edit/Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}