{% extends 'base.html' %} {% block title %} Dashboard {% endblock %} {% block
content %}

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    background-color: rgba(167, 108, 227, 0.436);
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: hsla(0, 0%, 100%, 0.548);
    width: 100%;
    max-width: 500px;
    aspect-ratio: 1/1;
    border-radius: 30px;
    box-shadow: 0px 15px 20px black;
    text-align: center;
  }
  .box {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 10/1;
    border-radius: 20px;
    background-color: rgba(124, 90, 248, 0.178);
    padding: 20px;
    border: none;
    color: black;
  }
  button {
    padding: 13px 50px;
    background-color: rgb(64, 3, 121);
    border-radius: 20px;
    color: white;
    border: none;
  }
  button:hover {
    box-shadow: 0px 5px 10px black;
    transform: translateY(-3px);
    transition: all 0.3s ease;
    cursor: pointer;
  }
</style>

<form method="post">
  <h2>Register for an account</h2>
  <br />
  {% if error %}
  <div style="color: red; font-weight: bold">{{ error }}</div>
  {% endif %} <br />

  <label for="username">Username</label>
  <input
    type="text"
    name="username"
    placeholder="enter username"
    class="box"
  /><br />
  <label for="password"> Set Password</label>
  <input
    type="password"
    name="password"
    placeholder="enter password"
    class="box"
  /><br />
  <button type="submit">Register</button><br />
  <a href="{{url_for('login')}}">Login if you already have an account</a>
</form>

{% endblock %}
