{% extends 'base.html' %}
{% block title %} Dashboard {% endblock %}
{% block content %}
<a href="{{url_for('login')}}">Login if you already have an account</a>




<form  method="post">
    {% if error %}
        <div style="color: red; font-weight: bold;">{{ error }}</div>
    {% endif %}
    {% if  not error %}
        <div style="color: green; font-weight: bold;">{{ error }}</div>
    {% endif %}
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="enter username">
    <label for="password"> Set Password</label>
    <input type="text" name="password" placeholder="enter password">
    <label for="firstname"> First name</label>
    <input type="text" name="firstname" placeholder="enter first name">
    <label for="secondname"> Second name</label>
    <input type="text" name="secondname" placeholder="enter second name">
    <label for="email"> Email</label>
    <input type="text" name="email" placeholder="enter email">
    <button type="submit">Register</button>
</form>

{% endblock %}